annotated-types==0.7.0
av==15.0.0
backports.tarfile==1.2.0
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
docutils==0.22
filelock==3.19.1
Flask==3.1.2
fsspec==2025.7.0
fvcore==0.1.5.post20221221
id==1.5.0
idna==3.10
importlib_metadata==8.7.0
iopath==0.1.10
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
Jinja2==3.1.6
keyring==25.6.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
networkx==3.5
nh3==0.3.0
numpy==2.3.2
packaging==25.0
parameterized==0.9.0
pillow==11.3.0
portalocker==3.2.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@6cdc929315aab1b5674b6dcf73b16ec99147735f
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.1.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
torch==2.8.0
torchvision==0.23.0
towhee==1.1.3
towhee.models==1.1.3
tqdm==4.67.1
twine==6.1.0
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
Werkzeug==3.1.3
yacs==0.1.8
zipp==3.23.0
